
<h1 style="font-size:16px">
<%= image_tag "logo.png", :alt => "ゼロストラクト zerostruct"  %><br/>
株式会社ゼロストラクト
</h1>

<h2>menu</h2>


<ul class="nav">
  <li><%= link_to "top", "/", :style => "color:#999999;"  %></li>
  <li><%= link_to "product", "/product", :style => "color:#999999;" %></li>
  <li><%= link_to "about", "/abouts", :style => "color:#999999;"   %></li>
  <li><%= link_to "contact", "/contacts", :style => "color:#999999;"  %></li>
</ul>
