
<h1>
  <%= image_tag "logo.png", :alt => "ゼロストラクト zerostruct"  %>
</h1>

<h2>menu</h2>


<ul class="nav">
  <li><%= link_to "top", "/", :style => "color:#666;"  %></li>
  <li><%= link_to "product", "/product", :style => "color:#666;" %></li>
  <li><%= link_to "about", "/abouts", :style => "color:#666;"   %></li>
  <li><%= link_to "contact", "/contacts", :style => "color:#666;"  %></li>
</ul>
